body {
  margin: 0;
  background-image: url("./GiyuPattern.jpg");
  min-height: 100vh;
  min-width: 100vh;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 100vh;
}

#fireWorks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

#nav {
  margin-bottom: 15px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 100px;
  background-color: #69face;
  border-radius: 15px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#Lv1 {
  padding: 5px;
  margin-bottom: 50px;
  font-size: 50px;
  background-color: #008000;
  border-radius: 15px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#Lv2 {
  padding: 5px;
  margin-bottom: 50px;
  font-size: 50px;
  background-color: #FFFF00;
  border-radius: 15px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#Lv3 {
  padding: 5px;
  margin-bottom: 50px;
  font-size: 50px;
  background-color: #FFA500;
  border-radius: 15px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#Lv4 {
  padding: 5px;
  margin-bottom: 50px;
  font-size: 50px;
  background-color: #FF0000;
  border-radius: 15px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#instructions {
  margin-top: 100px;
  font-size: 25px;
  background-color: #69face;
  border-radius: 50px;
  padding: 10px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#FourBoxes {
  width: 205px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

#NineBoxes {
  width: 325px;
  height: 306px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

#SixteenBoxes {
  width: 440px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

#TwentyFiveBoxes {
  width: 550px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

#FourBox1 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#FourBox2 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#FourBox3 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#FourBox4 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox1 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox2 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox3 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox4 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox5 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox6 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox7 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#NineBox8 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}
#NineBox9 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox1 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox2 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox3 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox4 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox5 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox6 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox7 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox8 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}
#SixteenBox9 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox10 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox11 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox12 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox13 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox14 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox15 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#SixteenBox16 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox1 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox2 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox3 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox4 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox5 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox6 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox7 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox8 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}
#TwentyFiveBox9 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox10 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox11 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox12 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox13 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox14 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox15 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox16 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox17 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox18 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox19 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox20 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox21 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox22 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox23 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}

#TwentyFiveBox24 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}
#TwentyFiveBox25 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border: 1px;
    border-color: #000000;
    border-style: solid;
}